body {
	margin: 0;
	padding: 0;
	font-color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header, footer {
	width: 100%;
	border: 1px solid #CCCCCC;
}

.logo {
	margin-left: 20px;
	height: 30px;
	width: 30px;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

footer {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
}

footer span {
	color: white;
}
